.git
.github
.gitignore
.gitattributes

.env
.env.*

vendor
node_modules

tests
.phpunit.result.cache
phpunit.xml

storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views

docker
docker-compose*.yml
Dockerfile*

.vscode
.idea
.DS_Store
Thumbs.db

README.md
*.md
.editorconfig

.php-cs-fixer.cache
.php-cs-fixer.php
phpstan.neon

cypress
cypress.config.js

package.json
package-lock.json
vite.config.js

stripe.exe
stripe
